@charset "UTF-8";
/* CSS Document */
/* Portions of this CSS is taken from http://musca.se/full-window-width-jquery-tools-content-slider-demo/demo.html */

body {
	background-color:#e8e4bf;
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px
	color:black;
	
}
			
/* 	slider code */	
#slider{	
	top:170px;
	width: 850px;
	height: 450px;	
	margin: 0 auto;
	overflow: hidden;
	position:relative;
}

.JS #slider{
	width: 100%;
	min-width: 960px;
}
		
#items{
	width: 20000em;
	position: absolute;
}
			
#items > div{
	float: left;
	overflow: visible;
}
		
#items > div:first-child{
	float: left;
	overflow: visible;			
}
		
.content{
	top:170px;
	width: 850px;
	height: 450px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #1c1a04;
	color:white;
}

.content li{
	padding:5px;
	list-style-type:none;
}
		
#logo {
	position:absolute;
	top:10px;
	left:225px;
	height:140px;
	width:320px;
}
			
#bar {
	position:absolute;
	top:0px;
	left:0px;
	height:10px;
	width:1300px;
	background-color:#1c1a04;
}
			
/* navigation code */
#navigation-wrapper{
	display: none;
}
		
.JS #navigation-wrapper{
	display: block;
}
		
ul#navigation li{
	display: block;
	float: left;
}
	
#navigation-wrapper span:hover, ul#navigation li:hover{
	cursor: pointer;
	color: white;
}
		
ul#navigation li.active, ul#navigation li.active:hover{
	background-color: #1c1a04;
	color: white;
	cursor: default;
}
			
.disabled{
	display: none;
}


			
li#project{
	position: absolute;
	top: 10px;
	left: 640px;
	width: 100px;
	height: 60px;
	background-color:#d0cdaa;
}
			
li#dj{
	position: absolute;
	top: 10px;
	left: 750px;
	width: 100px;
	height: 60px;
	background-color:#d0cdaa;		
}
			
li#resume{
	position: absolute;
	top: 10px;
	left: 860px;
	width: 100px;
	height: 60px;
	background-color:#d0cdaa;
}
			
li#contact{
	position: absolute;
	top: 10px;
	left: 970px;
	width: 100px;
	height: 60px;
	background-color:#d0cdaa;
}

/* Panels Code*/

div#project {
	color:white;
	position:absolute;
	margin: 20px;
	width:810px;
	height: 410px;
}

div#project a{
	color:white;
	
}

div#project a:hover{
	cursor:pointer;
	color:#d0cdaa;
}
	
div #projectPage{
	position:absolute;
	top:45px;
	left:250px;
	width:550px;
	height:350px;
	overflow-x:hidden;
}

div #djPage{
	position:absolute;
	top:45px;
	left:250px;
	width:550px;
	height:350px;
	overflow-x:hidden;
}

div #aboutPage{
	position:absolute;
	top:45px;
	left:250px;
	width:550px;
	height:350px;
	overflow-x:hidden;
}

div #resumePage{
	position:absolute;
	top:45px;
	left:250px;
	width:550px;
	height:350px;
	overflow-x:hidden;
}

