@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: AvenirNextLTPro-Regular;
	src: url('font/AvenirNextLTPro-Regular.ttf');
}

body {
	background:#fff;
	font:14px/20px 'AvenirNextLTPro-Regular','Georgia','Times','Times New Roman',serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display:block;
}

#nav {
	background:#000;
	width:100%;
	height:50px;
	overflow:hidden;
	clear:both;
}
	#nav span{
		float:left;
		margin:0;
		}
		#nav span a{
			line-height:50px;
			font-size:14px;
			display:block;
			float:left;
			color:#fff;
			text-decoration:none;
		}
			#nav span a none{
				color:#aaa;
			}
			
	#nav ul{
		float:right;
		margin:0;
		
	}
		#nav ul li a {
			line-height:50px;
			font-size:14px;
			margin:0 20px 0 20px;
			display:block;
			float:left;
			color:#aaa;
			text-decoration:none;
		}
		#nav ul li a:hover {
					color:#fff;
		}
		
#content {
	padding:30 px 0 0;
}
	#content .container{
		min-height:620px;
	}
	#content p,
	#content ul,
	#content ol,
	#content blockquote,
	#content address{
		margin:0 0 20px;
		color:#333;
	}
	#content h6{
		margin:0 0 20px;
		font-size:11px;
		color:#000;
		text-transform:uppercase;
		font-family:'Avenir Next LT W01 Bold', sans-serif;
		letter-spacing:1px;
		font-weight:normal;
	}
		
	
		
.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.navigation{
		padding:15px 0 5px;
		margin:15px 0;
		border:1px solid #ddd;
		border-width:1px 0;
		float:left;
		clear:both;
		width:100%;
		}
		.navigation a{
			max-width:280px !important;
			overflow:hidden !important;
			display:inline-block;
			white-space:nowrap;
			}